<!-- <div class="container d-flex justify-content-center" style="height: 100%">
    <div class="card">

      <div class="d-flex flex-row justify-content-between p-3 adiv text-white">
        <i class="fas fa-chevron-left"></i>
        <span class="pb-3">Live chat</span>
        <i class="fas fa-times"></i>
      </div>

      <div id="chatContainer">
        <div #chatContainer></div>
      </div>

        <div class="form-group px-3 container-message">
            <div class="input-group">
              <input type="text" class="form-control" id="msgControl"  placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" [formControl]="msgControl">
            </div>
        </div> 

        <input #idOption type="hidden" id="idOption" (click)="onChangedValue()">
        <input #textOption type="hidden" id="textOption">
    </div>
  </div> -->

  <!-- <div class="container">
    <div class="row"> -->
     <div id="Smallchat">
      <div #Layout  class="Layout Layout-open Layout-expand Layout-right" style="background-color: #3F51B5;color: rgb(255, 255, 255);opacity: 5;border-radius: 10px;">
        <div class="Messenger_messenger">
          <div class="Messenger_header" style="background-color: rgb(22, 46, 98); color: rgb(255, 255, 255);">
            <h4 class="Messenger_prompt">Fale com o Wal</h4> <span #closeIcon class="chat_close_icon"><fa-icon [icon]="faIconClose"></fa-icon></span> </div>
          <div class="Messenger_content">
            <div class="Messages">
              <div class="Messages_list">
                <div #chatContainer></div>
              </div>
            </div>
            <div class="Input Input-blank">
              <textarea class="Input_field" placeholder="Select an option..." style="height: 20px;" disabled></textarea>
            </div>
          </div>
        </div>
      </div>
      <!--===============CHAT ON BUTTON STRART===============-->
      <div #chatOn class="chat_on" style="display:block;"> 
        <!-- <span class="chat_on_icon"><fa-icon [icon]="faIconComments" aria-hidden="true"></fa-icon></span> -->
       </div>
      <!--===============CHAT ON BUTTON END===============-->
    </div>
    <!-- </div> -->

    <input #idOption type="hidden" id="idOption" (click)="onChangedValue()">
    <input #textOption type="hidden" id="textOption">
  <!-- </div> -->